APP_NAME=BFF
APP_KEY=base64:Bs6X0GuB+Y0Cii8JgnniPVl/XJs8ZFiBvaU6UTkTKH4=
APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_DEBUG=true
APP_ENV=local
APP_URL=

SESSION_DRIVER=file

UPLOAD_SERVICE_BASE_URL="http://upload_nginx:8001"
UPLOAD_SERVICE_TIMEOUT_SECONDS=10

LOG_CHANNEL=stderr_json
LOG_LEVEL=debug

OTEL_SERVICE_NAME=soat-bff
OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
OTEL_EXPORTER_OTLP_PROTOCOL=http/protobuf
OTEL_TRACES_SAMPLER=always_on
OTEL_METRICS_EXPORTER=otlp
OTEL_LOGS_EXPORTER=otlp